:root {
    --main-font-family: 'Inconsolata';
    --main-width: 1000;
    --main-width-px: 1000px;
    --content-margin: 10;
    --content-margin-px: 10px;
    --plot-height: 600;
    --plot-height-px: 600px;
    --plot-height-bar: 50;
    --plot-height-bar-px: 50px;
}

body, html {
    margin: 0;
    color: black;
    background-color: #ffffff;
    font-family: var(--main-font-family);
    overflow-x: hidden;
    max-width: 100%;
}

body {
    position: relative;
}

.content {
    width: var(--main-width-px);
    margin: var(--content-margin-px);
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.errorMsg {
    color: rgb(233, 64, 120); 
    background-color: rgb(255, 234, 241); 
    border-radius: 4px; 
    padding: 2px;
    font-size: 14px;
    display: none;
}

.toolTipMain {
    margin-top: 5px;
}

.toolTip {
    color: rgb(233, 64, 120); 
    background-color: rgb(255, 234, 241); 
    border-radius: 4px; 
    padding: 2px;
    margin-top: 5px;
    font-size: 14px;
}

#imageSelect {
    margin-top: 20px; 
    font-family: var(--main-font-family);
}

#algorithmSelect {
    font-family: var(--main-font-family);
}

#mainSubmitButton {
    margin-top: 20px; 
    font-family: var(--main-font-family);
}

#mainHeader {
    font-size: x-large; 
    margin-top: 10px;
}

#imgToDisplay {
    display: none; 
    margin-top: 10px;
}

#buttonDashboard {
    margin-top: 20px; 
    display: none;
}

#algorithmParameters {
    margin-top: 5px;
}

#chartAreaColorBar {
    width: var(--main-width-px); 
    height: var(--plot-height-bar-px); 
    margin-top: 10px;
}

#chartArea3D {
    width: var(--main-width-px); 
    height: var(--plot-height-px); 
    margin-top: 10px;
}

::-webkit-file-upload-button {
    font-family: var(--main-font-family);
}