:root {
    --main-font-family: 'Inconsolata';
}

body, html {
    margin: 0;
    color: black;
    background-color: #ffffff;
    font-family: var(--main-font-family);
    overflow-x: hidden;
    max-width: 100%;
}

body {
    position: relative;
}

.content {
    width: 600px;
    margin: 10px;
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.errorMsg {
    color: rgb(233, 64, 120); 
    background-color: rgb(255, 234, 241); 
    border-radius: 4px; 
    padding: 2px;
    font-size: 14px;
    display: none;
}

#imageSelect {
    margin-top: 20px; 
    font-family: var(--main-font-family);
}

#algorithmSelect {
    font-family: var(--main-font-family);
}

#mainSubmitButton {
    margin-top: 20px; 
    font-family: var(--main-font-family);
}

#mainHeader {
    font-size: x-large; 
    margin-top: 10px;
}

#imgToDisplay {
    display: none; 
    margin-top: 10px;
}

#buttonDashboard {
    margin-top: 20px; 
    display: none;
}

#algorithmParameters {
    margin-top: 5px;
}

#chartAreaColorBar {
    width: 600px; 
    height: 50px; 
    margin-top: 10px;
}

#chartArea3D {
    width: 600px; 
    height: 450px; 
    margin-top: 10px;
}

::-webkit-file-upload-button {
    font-family: var(--main-font-family);
}