body, html {
    margin: 0;
    color: black;
    background-color: #ffffff;
    font-family: Ubuntu;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    position: relative;
}

.content {
    width: 600px;
    margin: 10px;
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.errorMsg {
    color: rgb(233, 64, 120); 
    background-color: rgb(255, 234, 241); 
    border-radius: 4px; 
    padding: 2px;
    font-size: 14px;
    display: none;
}

::-webkit-file-upload-button {
    font-family: Ubuntu;
}